# Section 9 Sets
# Lecture 45 What are Sets?
# Lecture 46 Syntax for Sets
# Lecture 47 Modifying Sets and Other Operations

### Example:
### On a college campus there are 2 popular classes beloved of freshmen students: Poetry 101 and Bowling 103.  Here are
### their enrollment:
### Poetry 101: 'Will', 'Jill', 'Ken', 'Barbie', 'Frank'
### Bowling 103: 'Barbie', 'Ken', 'Jill', 'Tony', 'Tom'
### 
### How many students have enrolled in at least one of these courses, who are they?
### How many students have enrolled in both courses, who are they?
### How many students have enrolled in Poetry but not Bowling, who are they?
### How many students have enrolled in Bowling but not Poetry, who are they?

#### 46 Basic Set Syntax:

In [12]:
set_poetry = {'Will', 'Jill', 'Ken', 'Barbie', 'Frank', 'John'}
set_bowling = {'Barbie', 'Ken', 'Jill', 'Tony', 'Tom'}

In [13]:
set_poetry, set_bowling

({'Barbie', 'Frank', 'Jill', 'John', 'Ken', 'Will'},
 {'Barbie', 'Jill', 'Ken', 'Tom', 'Tony'})

In [15]:
everybody = set_poetry.union(set_bowling)
print(f'Number of students in each class = {len(everybody)} and their names are {everybody}')

Number of students in each class = 8 and their names are {'Tom', 'John', 'Will', 'Tony', 'Ken', 'Jill', 'Barbie', 'Frank'}

In [16]:
students_both = set_bowling.intersection(set_poetry)
print(f'The number of students taking both classes is: {len(students_both)}, their names are {students_both}')

The number of students taking both classes is: 3, their names are {'Ken', 'Barbie', 'Jill'}

In [10]:
enrolled_in_bowling = set_bowling.difference(set_poetry)
print(f'The number of students enrolled in only bowling is: {len(enrolled_in_bowling)}, their names are:\n{enrolled_in_bowling}')

The number of students enrolled in only bowling is: 2, their names are:
{'Tony', 'Tom'}

In [17]:
enrolled_in_poetry = set_poetry.difference(set_bowling)
print(f'The number of students enrolled in only Poetry is: {len(enrolled_in_poetry)}, their names are:\n{enrolled_in_poetry}')

The number of students enrolled in only Poetry is: 3, their names are:
{'Will', 'John', 'Frank'}

### Modifying Sets and Other Operations:

In [18]:
set_bowling.add('Mary')
set_bowling

{'Barbie', 'Jill', 'Ken', 'Mary', 'Tom', 'Tony'}

In [19]:
set_bowling.discard('Tom')
set_bowling

{'Barbie', 'Jill', 'Ken', 'Mary', 'Tony'}

In [20]:
bwoling = list(set_bowling)
bwoling

['Tony', 'Ken', 'Mary', 'Jill', 'Barbie']

### Add new course Movie Studies:

In [22]:
movies = {'Ken', 'Mary', 'Tony', 'Barbie', 'Ken'}
movies

{'Barbie', 'Ken', 'Mary', 'Tony'}