# Section 6 The None Type and Type Conversions

# Lecture 29 The None Type,
# Lecture 30 Converting Data Types,
# Lecture 31 Converting to and from Strings
# Lecture 32 Converting to and from Booleans
# Lecture 33 Converting to and from None Type

In [3]:
a = None
type(a)
# None type is only equal to itself

NoneType

## Converting Data Types

### Convert Strings and Booleans to Numberic Data Types

In [4]:
a = 10
b = 2.54

In [5]:
a = float(a)
b = int(b)
a, b

(10.0, 2)

In [6]:
int('123')
float('123.56')
int('-123')
float('-123.56')

-123.56

In [8]:
print(int(True))
print(float(True))
print(int(False))
print(float(False))

1
1.0
0
0.0

In [11]:
list1 = [True, True, True, False, False, True]
list1

[True, True, True, False, False, True]

In [12]:
sum(list1)

4

### Comvert Numbers and Booleans to Strings

In [13]:
str(a)

'10.0'

In [14]:
str(b)

'2'

In [15]:
str(123.56)

'123.56'

In [18]:
# Phone numeber 123-777-2121 to strring
part1 = 123
part2 = 777
part3 = 121
PhoneNo = str(part1) + '-' + str(part2) + '-' + str(part3)
PhoneNo

'123-777-121'

In [19]:
str(True)

'True'

### Converting To and From Booleans

In [21]:
bool(1), bool(0)

(True, False)

In [23]:
bool('True'), bool('fjfjsi'), bool('False')

(True, True, True)

In [24]:
bool('')

False

### Converting to and from None Type

#### Nothing can be converted to none as it will have a value

In [25]:
str(None)

'None'

In [26]:
bool(None)

False